.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  
  .dialog {
    box-shadow: 14px 14px 28px, 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }