.app-login-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 300px;
    background: white;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}

.app-login-button {
    align-self: flex-end;
    margin-top: auto;
    margin-right: 10px;
    cursor: pointer;
}

.app-login-button:disabled {
    cursor: not-allowed;
}

.app-login-form-input {
    margin-top: 10px;
    padding: 0;
}

.app-login-form-pass-container {
    margin-top: 20px;
}

.app-login-error-message {
    color: red;
    font-size: 12px;
}

.app-login-error-message {
    margin-top: 5px;
}