.app-header-container h1 {
    margin: 5px;
}

.app-grid-container {
    padding: 10px 20px;
}

.app-notes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    column-gap: 5%;
    row-gap: 50px;
}

@media screen and (max-width: 768px) {
    .app-notes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .app-notes-grid {
        grid-template-columns: auto;
    }
}

.app-new-note-button {
    background: none;
    border: none;
    outline: none;
    color: lightgray;
    cursor: inherit;
}

.app-new-note-add-icon {
    font-size: 100px;
    color: lightgray;
}